body {
  font-family: 'Dosis', sans-serif;
}

#navndiv {
  font-size: 7em;
  color: black;
  font-family: 'Merriweather Sans', cursive;
  margin: auto;
  margin-top: 3%;
  margin-bottom: 55px;
  width: 100%;
  /*height: 30%;*/
  text-align: center;
}

#logo {
  font-size: 3em;
  margin-left: 0.5em;
  /*margin-top: 0.2em;*/
  display: inline;
}

#knappdiv {
  margin: auto;
  width: 100%;
  text-align: center;
}

label {
  margin-right: 5px;
  margin-bottom: 7px;
  margin-left: 3px;
}

#knappen {
  background-color: #50ce4e;
  font-size: 3em;
  font-family: 'Dosis', sans-serif;
  display: inline;
  margin: auto;
  width: 8em;
  height: 2em;
  /*padding: 10px 24px;*/
  border-radius: 12px;
  border: 3px solid white;
}

#knappen:hover {
  background-color: grey;
}

#lagre {
  background-color: #50ce4e;
  font-size: 3em;
  font-family: 'Dosis', sans-serif;
  display: inline;
  margin: auto;
  width: 1.8em;
  height: 2em;
  /*padding: 10px 24px;*/
  border-radius: 12px;
  border: 3px solid white;
}

#lagre:hover {
  background-color: grey;
}

#kontrolldiv {
  margin: auto;
  margin-top: 30px;
  width: 40%;
  text-align: center;
}

.kategori {
  background-color: #50ed4e;
  background-color: #50ce4e;
  border-radius: 8px;
  border: 3px solid white;
  padding-top: 0.3em;
  height: 1.7em;
}

.gardinboks {
  border: 5px solid;
  border-radius: 8px;
  border-color: #4dd84b;
  padding-top: 10px;
  padding-bottom: 10px;
}

#listestatus {
  color: grey;
}

.ordobjekt {
  position: relative;
}

.ordobjekt:hover .subbutton {
  display:block;
}

.ordobjekt:hover {
  background-color: #50ce4e;
  border-radius: 12px;
}

.deletethis {
  color: grey;
}

.deleteall {
  color: red;
}

.subbutton {
  display: none;
  font-size: 0.4em;
  position: absolute;
  padding-top: 8px;
  width: 60px;
  height: 52px;
  border-radius: 30px;
  top: 85%;
  background-color: #50ce4e;
}

.cyclebutton {
  left: 50%;
  margin-right: -30px;
  margin-left: -90px;
}

.nyttnavnbutton {
  left: 50%;
  margin-right: -30px;
  margin-left: -30px;
}

.infobutton {
  left: 50%;
  margin-right: -30px;
  margin-left: 30px;
}

.subbutton:hover {
  background-color: gray;
}


input[type=radio] {
  position: absolute;
  visibility: hidden;
  display: none;
}

label {
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  padding: 5px 20px;
  margin: 0px;
  border: solid 1px white;
  background: gray;
  border-radius: 8px;
}

input[type=radio]:checked + label{
  background: #50ce4e;
}

label + input[type=radio] + label {
  border: solid 1px white;
}

#infoknapp {
  position: fixed;
  left: 100%;
  top: 1%;
  margin-left: -60px;
  font-size: 3.5em;
  color: gray;
}

#infoknapp:hover {
  color: black;
}

.ui-dialog {
	position: absolute;
  background-color: white;
	top: 0;
	left: 0;
	padding: .2em;
	outline: 0;
  border-radius: 10px;
  border: solid 2px gray;
}
.ui-dialog .ui-dialog-titlebar {
	padding: .4em 1em;
	position: relative;
}

}
.ui-dialog .ui-dialog-title {
	float: left;
	margin: .1em 0;
	white-space: nowrap;
	width: 90%;
	overflow: hidden;
	text-overflow: ellipsis;
}
.ui-dialog .ui-dialog-titlebar-close {
	position: absolute;
	right: .3em;
	top: 50%;
	width: 20px;
	margin: -10px 0 0 0;
	padding: 1px;
	height: 20px;
}

.ui-dialog .ui-dialog-content {
	position: relative;
	border: 0;
	padding: .5em 1em;
	background: none;
	overflow: auto;
}

/*.ui-widget-overlay {
	position: fixed;
  color: red;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}*/
