body {
  font-family: 'Dosis', sans-serif;
  font-size: 2rem;
}

h1 {
  font-size: 4rem;
}

p {
  font-size: 2rem;
}


select {
  height: 4rem;
  width: 10rem;
  font-size: 2rem;
}

#navndiv {
  display: block;
  font-size: 8rem;
  font-family: 'Merriweather Sans', cursive;
  margin-top: 2rem;
  margin-bottom: 3rem;
  width: 100%;
  text-align: center;
}

#logo {
  font-size: 5rem;
  margin-left: 1rem;
  display: inline;
}

header > img {
  float: left;
  display: inline;
  height: 6rem;
}

#knappdiv {
  margin: auto;
  width: 100%;
  text-align: center;
}

#knappen {
  background-color: #50ce4e;
  font-size: 3em;
  font-family: 'Dosis', sans-serif;
  display: inline;
  margin: auto;
  width: 8em;
  height: 2em;
  /*padding: 10px 24px;*/
  border-radius: 12px;
  border: 3px solid white;
}

#knappen:hover {
  border: 3px solid black;
}

#lagre {
  background-color: #50ce4e;
  font-size: 3em;
  font-family: 'Dosis', sans-serif;
  display: inline;
  margin: auto;
  width: 1.8em;
  height: 2em;
  /*padding: 10px 24px;*/
  border-radius: 12px;
  border: 3px solid white;
}

#lagre:hover {
  border: 3px solid black;
}

#kontrolldiv {
  margin: auto;
  padding-inline: 1rem;
  margin-top: 3rem;
  text-align: center;
  width: 50rem;
}

.kategori {
  background-color: #50ce4e;
  border-radius: 8px;
  border: 3px solid white;
  padding: 0.5rem
}

.kategori:hover {
  border: 3px solid black;
}

.gardinboks {
  border: 5px solid;
  border-radius: 8px;
  border-color: #4dd84b;
  padding-top: 10px;
  padding-bottom: 10px;
}

#listestatus {
  color: grey;
}

.ordobjekt {
  position: relative;
}

.ordobjekt:hover .subbutton {
  display:block;
}

.ordobjekt:hover {
  background-color: #50ce4e;
  border-radius: 12px;
}

.deletethis {
  color: grey;
}

.deleteall {
  color: red;
}

.subbutton {
  display: none;
  font-size: 0.4em;
  position: absolute;
  padding-top: 8px;
  width: 60px;
  height: 52px;
  border-radius: 30px;
  top: 85%;
  background-color: #50ce4e;
}

.cyclebutton {
  left: 50%;
  margin-right: -30px;
  margin-left: -90px;
}

.nyttnavnbutton {
  left: 50%;
  margin-right: -30px;
  margin-left: -30px;
}

.infobutton {
  left: 50%;
  margin-right: -30px;
  margin-left: 30px;
}

.subbutton:hover {
  background-color: gray;
}


input[type=radio] {
  position: absolute;
  visibility: hidden;
  display: none;
}

label {
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  padding: 5px 20px;
  margin: 0px;
  border: solid 1px white;
  background: gray;
  border-radius: 8px;
}

input[type=radio]:checked + label{
  background: #50ce4e;
}

label + input[type=radio] + label {
  border: solid 1px white;
}

#infodiv {
  display: none;
}

#infoknapp {
  display: inline;
  float: right;
  left: 100%;
  top: 1%;
  margin-left: -60px;
  font-size: 3.5em;
  color: gray;
}

#infoknapp:hover {
  color: black;
}